h2{
    text-align: center;
 margin-top: 40px;
 text-shadow: 2px 2px 10px grey;

}
p{
    text-align: center;
    margin-top: 20px;
   font-family: Arial, Helvetica, sans-serif;
}
.image{
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.col-md{
    margin-top: 20px;
}
.form-select{
    text-decoration:line;
}
.med01{
position: absolute;top: auto;

}

.gender{
    padding: 8px;
    margin-top: 20px;
  
}
.form-select{

    border-radius: 20px;
   
}

.form-control{
    border-radius: 20px;
}

.date{
    border-radius: 10px;
}

.cnic{
  position: absolute;left: auto;
  position: absolute;top:auto;
 display: block;text-align: justify;
  
}

.b-form{
margin-top: 45px;
border-radius: 10px;
}

.example{
    position: absolute;left: auto;
    position: absolute;top: 565px;
    font-size: small;
}


.checkbox{
   margin-top: 50px;
   font-family: Arial, Helvetica, sans-serif;
}


.button{
    border-radius: 10px;
margin-top: 5px;
}
.button:hover{
    background-color: lightgray;
    color: black;
}
.center{
    position: absolute;top: 650px;
    margin-left: 585px;
}
